.discourse-image-gallery .image-wrapper {
	position: relative;
	overflow: hidden;
	border: 1px solid #888;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.6);
}

.discourse-image-gallery .image-wrapper img {
	max-width: none;
	position: absolute;
	top: 0;
	left: 0;
}

.discourse-image-gallery > .lightbox-wrapper {
	margin-right: 10px;
}

.discourse-image-gallery > .image-wrapper {
	display: inline-block;
	margin-right: 10px;
}
